@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Intl Light";
  src: url("../fonts/SuisseIntl-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --app-font: "Suisse Intl", sans-serif;
  --app-font-light: "Suisse Intl Light", sans-serif;
}
